<div class="column-layout group">
  <h6 class="h6">
    Edit Query
  </h6>
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <igx-select type="border" [(ngModel)]="value" class="select">
        <igx-select-item value="1">
          Compounds
        </igx-select-item>
        <label igxLabel>From</label>
      </igx-select>
      <igx-select type="border" [(ngModel)]="value" class="select">
        <igx-select-item value="1">
          Id, Structure, Date
        </igx-select-item>
        <label igxLabel>Select</label>
      </igx-select>
    </div>
    <p class="ig-typography__body-2 text">
      Where
    </p>
    <div class="column-layout group_3">
      <div class="row-layout group_4">
        <div class="row-layout group_5">
          <igx-select type="border" [(ngModel)]="value" class="user-input">
            <igx-select-item value="1">
              Id
            </igx-select-item>
          </igx-select>
          <igx-select type="border" [(ngModel)]="value" class="user-input">
            <igx-select-item value="1">
              in
            </igx-select-item>
          </igx-select>
          <igx-input-group type="border" class="user-input">
            <input type="text" placeholder="Sub-query results" disabled="true" igxInput />
          </igx-input-group>
        </div>
        <div class="row-layout group_6">
          <button igxButton="outlined" [disabled]="true" type="button" igxRipple class="button">
            <igx-icon>
              check
            </igx-icon>
          </button>
          <button igxButton="outlined" [disabled]="true" type="button" igxRipple class="button">
            <igx-icon>
              close
            </igx-icon>
          </button>
        </div>
      </div>
      <div class="column-layout group_7">
        <div class="row-layout group_2">
          <igx-select type="border" [(ngModel)]="value" class="select">
            <igx-select-item value="1">
              Assays
            </igx-select-item>
            <label igxLabel>From</label>
          </igx-select>
          <igx-select type="border" [(ngModel)]="value" class="select">
            <igx-select-item value="1">
              compoundID
            </igx-select-item>
            <label igxLabel>Select</label>
          </igx-select>
        </div>
        <p class="ig-typography__body-2 text">
          Where
        </p>
        <div class="column-layout group_8">
          <igx-chip class="chip">
            <igx-suffix>
              <igx-icon class="icon">
                remove_circle
              </igx-icon>
            </igx-suffix>
            Name equals "Hepacity"
          </igx-chip>
          <button igxButton="flat" type="button" igxRipple class="button_1">
            <span>And</span>
            <igx-icon class="icon_1">
              keyboard_arrow_down
            </igx-icon>
          </button>
          <igx-chip class="chip_1">
            <igx-suffix>
              <igx-icon class="icon">
                remove_circle
              </igx-icon>
            </igx-suffix>
            endpointName   equals   "ic60"
          </igx-chip>
          <button igxButton="flat" type="button" igxRipple class="button_1">
            <span>And</span>
            <igx-icon class="icon_1">
              keyboard_arrow_down
            </igx-icon>
          </button>
          <div class="column-layout group_9">
            <igx-chip class="chip_1">
              <igx-suffix>
                <igx-icon class="icon">
                  remove_circle
                </igx-icon>
              </igx-suffix>
              Structure contains "value"
            </igx-chip>
            <button igxButton="flat" type="button" igxRipple class="button_2">
              <span>Or</span>
              <igx-icon class="icon_2">
                keyboard_arrow_down
              </igx-icon>
            </button>
            <div class="row-layout group_10">
              <div class="row-layout group_5">
                <igx-select type="border" placeholder="Column" class="user-input_1">
                  <igx-select-item value="1">
                    Id
                  </igx-select-item>
                </igx-select>
                <igx-select type="border" placeholder="operator" [disabled]="true" class="select_2">
                  <igx-select-item value="1">
                    in
                  </igx-select-item>
                </igx-select>
                <igx-input-group type="border" class="user-input_1">
                  <input type="text" placeholder="type value" disabled="true" igxInput />
                </igx-input-group>
              </div>
              <div class="row-layout group_6">
                <button igxButton="outlined" [disabled]="true" type="button" igxRipple class="button_3">
                  <igx-icon>
                    check
                  </igx-icon>
                </button>
                <button igxButton="outlined" type="button" igxRipple class="button_3">
                  <igx-icon>
                    close
                  </igx-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout group_11">
    <button igxButton="flat" type="button" igxRipple class="button_4">
      Clear all
    </button>
    <div class="row-layout group_12">
      <button igxButton="outlined" type="button" igxRipple class="button_4">
        Cancel
      </button>
      <button igxButton="contained" type="button" igxRipple class="button_4">
        Apply
      </button>
    </div>
  </div>
</div>
<div class="column-layout group_13">
  <h6 class="h6">
    Edit Query
  </h6>
  <div class="column-layout group_14">
    <div class="row-layout group_2">
      <igx-select type="border" [(ngModel)]="value" class="select">
        <igx-select-item value="1">
          Compounds
        </igx-select-item>
        <label igxLabel>From</label>
      </igx-select>
      <igx-select type="border" [(ngModel)]="value" class="select">
        <igx-select-item value="1">
          Id, Structure, Date
        </igx-select-item>
        <label igxLabel>Select</label>
      </igx-select>
    </div>
    <p class="ig-typography__body-2 text">
      Where
    </p>
    <div class="column-layout group_3">
      <div class="row-layout group_4">
        <div class="row-layout group_5">
          <igx-select type="border" [(ngModel)]="value" class="user-input">
            <igx-select-item value="1">
              Id
            </igx-select-item>
          </igx-select>
          <igx-select type="border" [(ngModel)]="value" class="user-input">
            <igx-select-item value="1">
              in
            </igx-select-item>
          </igx-select>
          <igx-input-group type="border" class="user-input">
            <input type="text" placeholder="Sub-query results" disabled="true" igxInput />
          </igx-input-group>
        </div>
        <div class="row-layout group_6">
          <button igxButton="outlined" [disabled]="true" type="button" igxRipple class="button">
            <igx-icon>
              check
            </igx-icon>
          </button>
          <button igxButton="outlined" [disabled]="true" type="button" igxRipple class="button">
            <igx-icon>
              close
            </igx-icon>
          </button>
        </div>
      </div>
      <div class="column-layout group_7">
        <div class="row-layout group_2">
          <igx-select type="border" [(ngModel)]="value" class="select">
            <igx-select-item value="1">
              Assays
            </igx-select-item>
            <label igxLabel>From</label>
          </igx-select>
          <igx-select type="border" [(ngModel)]="value" class="select">
            <igx-select-item value="1">
              compoundID
            </igx-select-item>
            <label igxLabel>Select</label>
          </igx-select>
        </div>
        <p class="ig-typography__body-2 text">
          Where
        </p>
        <div class="column-layout group_8">
          <igx-chip class="chip">
            <igx-suffix>
              <igx-icon class="icon">
                remove_circle
              </igx-icon>
            </igx-suffix>
            Name equals "Hepacity"
          </igx-chip>
          <button igxButton="flat" type="button" igxRipple class="button_1">
            <span>And</span>
            <igx-icon class="icon_1">
              keyboard_arrow_down
            </igx-icon>
          </button>
          <igx-chip class="chip_1">
            <igx-suffix>
              <igx-icon class="icon">
                remove_circle
              </igx-icon>
            </igx-suffix>
            endpointName   equals   "ic60"
          </igx-chip>
          <button igxButton="flat" type="button" igxRipple class="button_1">
            <span>And</span>
            <igx-icon class="icon_1">
              keyboard_arrow_down
            </igx-icon>
          </button>
          <div class="column-layout group_9">
            <igx-chip class="chip_1">
              <igx-suffix>
                <igx-icon class="icon">
                  remove_circle
                </igx-icon>
              </igx-suffix>
              Structure contains "value"
            </igx-chip>
            <button igxButton="flat" type="button" igxRipple class="button_2">
              <span>Or</span>
              <igx-icon class="icon_2">
                keyboard_arrow_down
              </igx-icon>
            </button>
            <div class="row-layout group_15">
              <igx-chip class="chip_1">
                <igx-suffix>
                  <igx-icon class="icon">
                    remove_circle
                  </igx-icon>
                </igx-suffix>
                field greater than equal to "400"
              </igx-chip>
              <button igxButton="outlined" type="button" igxRipple [igxToggleAction]="dropdown" class="button_5">
                <igx-icon>
                  add
                </igx-icon>
              </button>
              <igx-drop-down #dropdown class="dropdown">
                <igx-drop-down-item>
                  Add condition
                </igx-drop-down-item>
                <igx-drop-down-item>
                  Add group condition
                </igx-drop-down-item>
              </igx-drop-down>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout group_11">
    <button igxButton="flat" type="button" igxRipple class="button_4">
      Clear all
    </button>
    <div class="row-layout group_12">
      <button igxButton="outlined" type="button" igxRipple class="button_4">
        Cancel
      </button>
      <button igxButton="contained" type="button" igxRipple class="button_4">
        Apply
      </button>
    </div>
  </div>
</div>
